body {
  background-color: #0d4b16;
  background-image: url("parchment_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin-top: 100px;
  font-family: 'Grenze Gotisch', serif;
  }
