:root {
  --headerFont: "Grenze Gotisch", serif;
  --black: #000000;
  --gray: #65696e;
  --gold: #ffd833;
  --dkGreen: #0d4b16;
}

body {
  background-color: var(--dkGreen);
  background-image: url("../parchment_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1,
.btn,
.btnDiv {
  text-align: center;
}

h1 {
  font-size: 120px;
  margin-top: 100px;
  font-family: var(--headerFont);
}

.btn {
  border: 3px solid var(--black);
  background-color: var(--gold);
  border-radius: 25px;
  color: var(--black);
  display: inline-block;
  font-size: 22px;
  font-family: var(--headerFont);
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: var(--gray);
}
